/*
* @Author: admin
* @Date:   2018-12-16 15:18:39
* @Last Modified by:   admin
* @Last Modified time: 2018-12-22 14:05:48
*/
*{
	padding: 0;
	margin: 0;
}
ul,li,ol{
	list-style: none;
}
a{
	text-decoration: none;
}
.head0{
	width: 100%;
	height: 130px;
	background-color: #fff;
	z-index: 1
}
.head1{
	width: 1180px;
	height: 130px;
	margin: 0 auto;
	background-color: #fff;
}
.head11{
	height: 30px;
	margin: 0 auto;
	font-size: 9px;
	color: #9a9791;
}
.head11_left{
	float: left;
	height: 30px;
	width: 170px;
}
.head11p1{
	padding-top: 8px;
}
.head11_right{
	width: 740px;
	height: 30px;
	float: left;
	padding-left: 270px;
}
.head11a1{
	height: 19px;
	width: 19px;
	background: url(.././Little/img/common_min.png) 0 -31px;
	float: left;
	margin-left: 18px;
	margin-top: 6px;
}
.head11a2{
	height: 19px;
	width: 19px;
	background: url(.././Little/img/common_min.png) 0 -53px;
	margin-left: 18px;
	margin-top: 6px;
	float: left;
}
.head11a3{
	height: 19px;
	width: 19px;
	background: url(.././Little/img/common_min.png) 0 -75px;
	margin-left: 18px;
	margin-top: 6px;
	float: left;
}
.head11p2{
	float: left;
	margin-left: 18px;
	margin-top: 6px;
}
.head11a4{
	height: 19px;
	width: 19px;
	background: url(.././Little/img/common_min.png) 0 -115px;
	margin-left: 18px;
	margin-top: 6px;
	float: left;
}
.head11p4{
	margin-left: 3px;
	margin-top: 6px;
	float: left;
}
.head11a5{
	height: 13px;
	width: 13px;
	background: url(.././Little/img/dingdan.jpg) ;
	margin-left: 18px;
	margin-top: 6px;
	float: left;
}
.head11a6{
	height: 14px;
	width: 8px;
	background: url(.././Little/img/tp-my-phone.png);
	margin-left: 18px;
	margin-top: 6px;
	float: left;
}
.head11a7{
	height: 16px;
	width: 18px;
	background: url(.././Little/img/gouwuche.jpg);
	margin-left: 18px;
	margin-top: 6px;
	float: left;
}
.head11p5{
	margin-left: 3px;
	margin-top: 6px;
	float: left;
	color: #fe6c00;
}
.head12{
	height: 100px;
	width: 1180px;
	margin: 0 auto;
}
.head121{
	height: 100px;
	width: 170px;
	float: left;
}
.head121 img{
	margin-top: 15px;
}
.head122{
	height: 100px;
	width: 660px;
	float: left;
}
.head122d1{
	width: 580px;
	height: 45px;
	margin-left: 80px;
	margin-top: 25px;
}
.head122d1 input{
	width: 500px;
	height: 40px;
	float: left;
	border: 2px solid #fe6c00;
	border-radius: 2px;
}
.head122d1 p{
	height: 31px;
	width: 80px;
	background-color: #fe6c00;
	text-align: center;
	color: #fff;
	font-size: 11px;
	margin-left: 500px;
	padding-top: 13px;
	border-radius: 2px;
}
.head122d2{
	height: 30px;
	width: 580px;
	margin-left: 80px;
}
.head122d2 p{
	float: left;
	font-size: 7px;
	margin-top: 10px;
	padding-left: 8px;
	padding-right: 8px;
	border-right: 1px solid #ebe7e7;
}
.head122d2 p:last-child{
	border-right: none;
}
.head122p1{
	color: #ff0000;
}
.head122p2{
	color: #666560;
}
.head122p3{
	color: #c0cae0;
}
.head122p4{
	color: #666560;
}
.head123{
	width: 350px;
	height: 100px;
	float: left;
}
.head123 div{
	width: 85px;
	height: 40px;
	margin-top: 25px;
	border: 1px solid #e6e5e2;
	border-radius: 2px;
	float: left ;
}
.head123 div:first-child{
	margin-left: 89px;
}
.head123 div:last-child{
	background-color: #ff4d04;
	color: #fff;
	font-size: 8px;
}
.head123a1{
	height: 18px;
	width: 18px;
	background: url(.././Little/img/common_min.png) 0 -97px;
	margin-left: 33px;
	margin-right: 34px;
	margin-top: 5px;
	float: left;
}
.head123a2{
	height: 18px;
	width: 18px;
	background: url(.././Little/img/common_min.png) 0 -114px;
	margin-left: 33px;
	margin-right: 34px;
	margin-top: 4px;
	float: left;
}
.head123a3{
	height: 17px;
	width: 18px;
	background: url(.././Little/img/common_min.png) 0 -131px;
	margin-left: 5px;
	margin-top: 12px;
	float: left;
}
.head123p1{
	color: #9ba4bf;
	font-size: 6px;
	text-align: center;
}
.head123p2{
	margin-top: 12px;
	margin-left: 25px;
}
.bottom1{
	height: 183px;
	width: 1180px;
	margin: 0 auto;
	background-color: #f8f7f6;
}
.bottom11{
	height: 183px;
	width: 150px;
	float: left;
}
.bottom12{
	width: 1030px;
	height: 183px;
	float: left;
	border-bottom: 1px solid #ebeae8;
}
.bottom12 ul{
	float: left;
	margin-left: 65px;
	margin-top: 30px;
}
.bottom12 ul:first-child{
	margin-left: 85px;
}
.bottom12 ul p{
	font-size: 12px;
	color: #000000;
	margin-top: 0;
}
.bottom12 ul li{
	font-size: 7px;
	margin-top: 13px;
	color: #666560;
}
.bottom121{
	margin-top: 27px;
	margin-left: 70px;
}
.bottom2{
	height: 163px;
	width: 1180px;
	margin: 0 auto;
	background-color: #f8f7f6;
}
.bottom21{
	height: 32px;
	width: 1180px;
	margin: 0 auto;
}
.bottom21 p{
	float: left;
	font-size: 8px;
	color: #666560;
	margin-top: 16px;
	padding-left: 14px;
	padding-right: 14px;
	border-right: 1px solid #666560;
}
.bottom21 p:first-child{
	padding-left: 270px;
}
.bottom21 p:last-child{
	border-right: none;
}
.bottom22{
	height: 73px;
	width: 1180px;
	margin: 0 auto;
}
.bottom22 p{
	text-align: center;
	font-size: 8px;
	color: #9a9791;
	padding-top: 12px;
}
.bottom23{
	height: 60px;
	width: 1180px;
	margin: 0 auto;
}
.bottom23 img:first-child{
	margin-left: 200px;
	margin-top: 11px;
}
.body1{
	height: 40px;
	width: 1180px;
	margin: 0 auto;
}
.body1 ul p{
	width: 170px;
	height: 28px;
	font-size: 10px;
	background-color: #ff4d04;
	color: #fff;
	padding-top: 12px;
	text-align: center;
	float: left;
}
.body1 ul li{
	margin-left: 35px;
	margin-right: 20px;
	margin-top: 11px;
	float: left;
}
.body1 ul img{
	position:relative;
	left: -22px;
}
.body2{
	border-bottom: 1px solid #fe6c00; 
}
.body3{
	height: 550px;
	width: 1180px;
	margin: 0 auto;
	background-color: #f8f7f6;
}
.body31{
	float: left;
	height: 550px;
	width: 170px;
}
.body311{
	height: 425px;
	width: 25px;
	float: left;
	background-color: #4c4c4a;
	color: #ff4d4b;
	font-size: 9px;
	text-align: center;
}
.body311p2{
	padding-top: 8px;
}
.body311p1{
	padding-top: 25px;
}
.body312{
	width: 145px;
	height: 425px;
	font-size: 6px;
	margin-left: 25px ;
}
.body312 ul{
	float: left;
	margin-right: 8px;
}
.body312 ul:first-child{
	margin-left: 13px;
}
.body312 ul li{
	margin-top: 16px;
}
.body312 ul li:first-child{
	margin-top: 11px;
}
.body313{
	height: 125px;
	width: 170px;
	border-top: 1px solid #fe6c00;
	font-size: 8px;
	color: #855d38;
}
.body313 ul li{
	width: 170px;
	height: 35px;
	margin-bottom: 7px;
}
.body313 ul li img{
	float: left;
	margin-top: 12px;
	margin-left: 10px;
}
.body313 ul li p{
	padding-top: 15px;
	padding-left: 40px ;
}
.body32{
	height: 550px;
	width: 800px;
	float: left;
}
.body321{
	width: 800px;
	height: 365px;
	position: relative;
	overflow: hidden;
}
.body321d{
	width: 6400px;
	position: absolute;
	left: -800px;
}
.body321d1{
	width: 800px;
	height: 365px;
	float: left;
	overflow: hidden;
}
.left{
	display: block;
	width: 24px;
	height: 62px;
	cursor: pointer;
	position: absolute;
	margin-top: 150px;
	opacity: 0;
}
.right{
	display: block;
	width: 24px;
	height: 62px;
	cursor: pointer;
	position: absolute;
	margin-top: 150px;
	margin-left: 776px;
	opacity: 0;
}
.nav{
	position: absolute;
	left: 300px;
	bottom: 15px;
}
.nav li{
	float: left;
	width: 20px;
	height: 20px;
	background: #fff;
	font-size: 8px;
	cursor: pointer;
	margin: 0 5px;
	border-radius: 50%;
}
.nav li p{
	text-align: center;
	padding-top: 2px;
}
.nav .active{
	background:#fe6c00;
	color: #476954;
}
.body322{
	height: 185px;
	width: 800px;
	border-top: 1px solid #fe6c00;
}
.body322 img{
	float: left;
}
.body33{
	width: 210px;
	height: 550px;
	float: left;
}
.body331{
	width: 210px;
	height: 45px;
	color: #fe6c00;
	font-size: 8px;
	border-bottom: 1px solid #ebeae7;
}
.body331i1{
	margin-left: 25px;
	margin-top: 15px;
	float: left;
}
.body331 p{
	padding-left: 10px;
	padding-top: 15px;
	float: left;
}
.body331i2{
	margin-left: 73px;
	margin-top: 20px;
}
.body332{
	width: 210px;
	height: 320px;
	color: #fe7403;
	font-size: 8px;
	overflow: hidden;
}
.body332d{
	height:696px ;
	position: relative;
	top: 0;
}
.body332d ul{
	overflow: hidden;
}
.body332d ul li{
	margin-left: 18px;
	width: 160px;
	height: 29px;
}
.body332d ul li p{
	padding-top: 10px;
}
.body333{
	width: 210px;
	height: 183px;
	border-top: 1px solid #ebeae7;
}
.body333 img{
	margin-left: 18px;
	margin-top: 6px;
	float: left;
}
.body333p1{
	font-size: 8px;
	margin-left: 15px;
	margin-top: 7px;
	float: left;
}
.body333p2{
	font-size: 8px;
	color: #ff4d04;
	margin-left: 15px;
	margin-top: 7px;
}
.body333 input{
	width: 124px;
	height: 25px;
	margin-top:10px ;
	margin-left: 18px;
	margin-right: 50px;
}
.body333 select{
	width: 60px;
	height: 18px;
	margin-left: 18px;
	margin-top: 7px;
	float: left;
}
.body333p3{
	padding-left: 86px;
	color: #ff4d04;
	font-size: 8px;
	margin-top: 7px;
}
.body333p4{
	width: 176px;
	height: 23px;
	text-align: center;
	margin-top: 8px;
	margin-left: 18px;
	padding-top: 3px;
	color: #fff;
	background-color: #ff4d04;
	border-radius: 4px;
}
.broadSide{
	width: 123px;
	height: 550px;
	position: fixed;
	top: 100px;
	left: 1225px; 
	overflow: hidden;
}
.broadSide1{
	height: 105px;
	position: absolute;
	top: 0px;
	left: 78px;
}
.broadSide1 ul li:first-child{
	height: 60px;
}
.broadSide1 ul li:last-child{
	position: absolute;
	left: 1px;
}
.broadSide2{
	margin-top: 4px;
	position: absolute;
	top: 105px;
	left: 79px;
	height: 140px;
}
.broadSide2 img{
	float: left;
}
.broadSide2d1{
	width: 78px;
	height: 140px;
	position: absolute;
	left: 45px;
	background-color: #fd9a6e;
	font-size: 8px;
}
.broadSide2l1{
	width: 78px;
	margin-top: 52px;
}
.broadSide2l1 p{
	text-align: center;
}
.broadSide2l2{
	width: 45px;
	height: 20px;
	border: 1px solid #fff;
	color: #fff;
	border-radius: 5px;
	margin-left: 16px;
	margin-top: 10px;
}
.broadSide2l2 p{
	text-align: center;
	padding-top: 2px;
}
.broadSide3{
	margin-top: 148px;
	height: 150px;
	position: absolute;
	top: 105px;
	left: 79px;
}
.broadSide3d1{
	height: 100px;
	width: 123px;
	background-color: #fd9a6e;
	position: absolute;
	top: 50px;
}
.broadSide3i1{
	position: absolute;
	top: 50px;
	left: 13px;
	display: block;
}
.broadSide3i2{
	position: absolute;
	top: 5px;
	left: 10px;
	display: none;
}
.broadSide4{
	margin-top: 301px;
	position: absolute;
	top: 105px;
	left: 79px;
}